<div class="container bg">
	
	<div class="row">
	    <div class="center col-sm-12">
	        <h1>All The News IOT News World Scrapper App</h1>
	        <p></p>
	    </div>
  	</div>
	<!-- end .row -->


	<div class="row">
	    <div class="center col-sm-12 col-lg-12">

			
	    </div>
	
  	</div>
	<!-- end .row -->


	<div class="row">
	    <div class="center col-sm-12 col-lg-12">

			
	    </div>
	
  	</div>
	<!-- end .row -->

</div>